<?xml version="1.0" encoding="UTF-8"?>
<configuration><config>/config</config><customIcons>/images/icons/userCustom</customIcons><dashboardsPanels>/data/public</dashboardsPanels><DashboardsDLL>/bin/DashboardServer.dll</DashboardsDLL><exceptionLog>/logs/DashboardException.log</exceptionLog><sqlLog>/logs/DashboardSQL.log</sqlLog><traceLog>/logs/DashboardTrace.log</traceLog><webConfig>/Web.Config</webConfig><machineConfig>C:\Windows\Microsoft.NET\Framework\v2.0.50727\CONFIG\machine.config</machineConfig></configuration>
